<div id="bin" class="site">

	<!-- ABOUT -->

	<div id="about">
		<div class="page">

			<!-- TAGLINE -->

			<div id="tagline">
	    		<h1>Coming soon...</h1>
	    		<p>We're working hard to bring Skoole to your school.</p>
	    	</div>

		</div>
	</div>

	<!-- CONTENT -->

	<div id="content">
		<div class="page">
			
			<p class="soon-text">We'll send you an email when we're live!</p>

		</div>
	</div>

</div>
