<%= image_tag 'flow.png' %>		
<div id="steps">
	<div class="step">
		List the books you need to buy and the ones you have to sell.
	</div>
    <div class="step">
        We'll find classmates selling books you need and buying books you have.
    </div>
    <div class="step">
        We'll notify you via sms or e-mail, then help arrange a meeting.
    </div>
</div>

<div class="clear"></div>