<html>

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# skooledev: http://ogp.me/ns/fb/skooledev#">
    <meta property="fb:app_id"      content="143680292405619" />
    <meta property="og:type"        content="skooledev:book" />
    <meta property="og:url"         content="<%= book_url(@book) %>" />
    <meta property="og:title"       content="<%= @book.title %>" />
    <meta property="og:description" content="by <%= @book.author %>" />
    <meta property="og:image"       content="<%= @book.thumbnail %>" />
</head>

<body>
</body>

</html>

