<html>

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# skooledev: http://ogp.me/ns/fb/skooledev#">
    <meta property="fb:app_id"		content="143680292405619" />
    <meta property="og:type"		content="skooledev:book" />
    <meta property="og:url"			content="<%= book_url(@book) %>" />
    <meta property="og:title"		content="<%= @book.title.titleize %>" />
	<meta property="og:author"		content="<%= @book.author.titleize %>" />
    <meta property="og:description"	content="Listed on Skoole.com" />
    <meta property="og:image"		content="<%= @book.thumbnail %>" />
</head>

<body>
</body>

</html>

