<div class="header">
	<div id="about">
		<div class="page">
		
			<!-- TAGLINE -->
		
			<div class="left">
				<h1>Your preferences</h1>
	    	</div>

			<!-- BUTTON -->

	    	<div class="right">
				<div class="button">
					<div class="top">Save your changes<%= image_tag 'arrow.png' %></div>
				</div>
			</div>
		
			<div class="clear"></div>
		</div>
	</div>
</div>

<div class="main-content">
	<div class="page">
	
		<div class="left-content">
			<h1>Notifications</h1>
		</div>
	
		<div class="right-content">
			<h1>Logout</h1>
			<%= link_to "Sign Out", signout_path %>
			
			<h1>Feedback</h1>
		</div>
	
		<div class="clear"></div>
	</div>
</div>