<!-- ABOUT -->

<div class="header">
	<div id="about">
		<div class="page">
		
			<!-- TAGLINE -->
		
			<div class="left-content">
	    		<h1>The textbook dilemma. Solved.</h1>
	    		<p>Don't lose money to Chegg, Amazon, or Half.com when buyers and sellers live down the street. Use Skoole to list, match, and meet.</p>
	    	</div>

			<!-- BUTTON -->

	    	<div class="right-content">
				<div class="button">
					<div class="top">List your books<%= image_tag 'arrow.png' %></div>
					<div class="bottom">Returning user? Log in&hellip;</div>
				</div>
			</div>
		
			<div class="clear"></div>
		</div>
	</div>
</div>

<!-- CONTENT -->
	
<div id="content">
	<div class="page">
		
		<!-- FLOW -->
		
		<%= image_tag 'flow.png' %>		
		<div id="steps">
			<div class="step">
				List the books you need to buy and the ones you have to sell.
			</div>
    	    <div class="step">
    	        We'll find classmates selling books you need and buying books you have.
    	    </div>
    	    <div class="step">
    	        We'll notify you via sms or e-mail, then help arrange a meeting.
    	    </div>
    	</div>

		<div class="clear"></div>
	</div>
</div>