<!-- ABOUT -->

<div class="header">
	<div id="about">
		<div class="page">
		
			<!-- TAGLINE -->
		
			<div id="left-content">
	    		<h1>The textbook dilemma. Solved.</h1>
	    		<p>Don't lose money to Chegg, Amazon, or Half.com when buyers and sellers live down the street. Use Skoole to list, match, and meet.</p>
	    	</div>

			<!-- BUTTON -->
			
			<div id="right-content">
				<%= render 'button' %>
			</div>
		
			<div class="clear"></div>
		</div>
	</div>
</div>

<!-- CONTENT -->
	
<div id="content">
	<div class="page">
		
		<% if @current_user %>
		<%= render "network" %>
		<% else %>
		<%= render "flow" %>
		<!--<%= render "tour" %>-->
		<% end %>

	</div>
</div>
