/*
 * SCSS Variables and Functions
*/

/* COLORS */

$background: #f7f7f7;
$light-orange: #ff8d2d;
$orange: #f0730b;
$dark-blue: #2f4a68;
$darkest-blue: #0b2339;
$blue: #446487;
$light-blue: #d8e2ed;
$lighter-blue: #ecf1f6;
$light-text: #7d8a96;
$lighter-text: #bdcad6;

/* STYLE MIXINS */

@mixin emboss($dark, $light) {
	border: solid 1px rgba(0, 0, 0, $dark);
	@include drop-shadow(0px, 1px, 0px, rgba(255, 255, 255, $light));
}
@mixin emboss-inset($dark, $light, $x, $y, $s, $c) {
	border: solid 1px rgba(0, 0, 0, $dark);
	@include drop-inner-shadow(0px, 1px, 0px, rgba(255, 255, 255, $light),  $x, $y, $s, $c);
}
@mixin emboss-inset-glow($dark, $light, $x1, $y1, $s1, $c1, $x2, $y2, $s2, $c2) {
	border: solid 1px rgba(0, 0, 0, $dark);
	@include drop-inner-shadow-2(0px, 1px, 0px, rgba(255, 255, 255, $light), $x1, $y1, $s1, $c1, $x2, $y2, $s2, $c2);
}

/* BROWSER MIXINS */

@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
}
@mixin border-radii($radius_tl, $radius_tr, $radius_br, $radius_bl) {
	// tl
    border-top-left-radius: $radius_tl;
    -webkit-border-top-left-radius: $radius_tl;
    -moz-border-top-left-radius: $radius_tl;
    -o-border-top-left-radius: $radius_tl;
	// tr
	border-top-right-radius: $radius_tr;
    -webkit-border-top-right-radius: $radius_tr;
    -moz-border-top-right-radius: $radius_tr;
    -o-border-top-right-radius: $radius_tr;
	// br
	border-bottom-right-radius: $radius_br;
	-webkit-border-bottom-right-radius: $radius_br;
	-moz-border-bottom-right-radius: $radius_br;
	-o-border-bottom-right-radius: $radius_br;
	// bl
	border-bottom-left-radius: $radius_bl;
	-webkit-border-bottom-left-radius: $radius_bl;
	-moz-border-bottom-left-radius: $radius_bl;
	-o-border-bottom-left-radius: $radius_bl;
}
@mixin drop-shadow($x, $y, $s, $c) {
    box-shadow: $x $y $s $c;
    -webkit-box-shadow: $x $y $s $c;
    -moz-box-shadow: $x $y $s $c;
    -o-box-shadow: $x $y $s $c;
    box-shadow: $x $y $s $c;
}
@mixin drop-inner-shadow($x1, $y1, $s1, $c1, $x2, $y2, $s2, $c2) {
    box-shadow: $x1 $y1 $s1 $c1, inset $x2 $y2 $s2 $c2;
    -webkit-box-shadow: $x1 $y1 $s1 $c1, inset $x2 $y2 $s2 $c2;
    -moz-box-shadow: $x1 $y1 $s1 $c1, inset $x2 $y2 $s2 $c2;
    -o-box-shadow: $x1 $y1 $s1 $c1, inset $x2 $y2 $s2 $c2;
    box-shadow: $x1 $y1 $s1 $c1, inset $x2 $y2 $s2 $c2;
}
@mixin drop-inner-shadow-2($x1, $y1, $s1, $c1, $x2, $y2, $s2, $c2, $x3, $y3, $s3, $c3) {
    box-shadow: $x1 $y1 $s1 $c1, inset $x2 $y2 $s2 $c2, $x3 $y3 $s3 $c3;
    -webkit-box-shadow: $x1 $y1 $s1 $c1, inset $x2 $y2 $s2 $c2, $x3 $y3 $s3 $c3;
    -moz-box-shadow: $x1 $y1 $s1 $c1, inset $x2 $y2 $s2 $c2, $x3 $y3 $s3 $c3;
    -o-box-shadow: $x1 $y1 $s1 $c1, inset $x2 $y2 $s2 $c2, $x3 $y3 $s3 $c3;
    box-shadow: $x1 $y1 $s1 $c1, inset $x2 $y2 $s2 $c2, $x3 $y3 $s3 $c3;
}
@mixin inner-shadow($x, $y, $s, $c) {
    box-shadow: inset $x $y $s $c;
    -webkit-box-shadow: inset $x $y $s $c;
    -moz-box-shadow: inset $x $y $s $c;
    -o-box-shadow: inset $x $y $s $c;
    box-shadow: inset $x $y $s $c;
}
@mixin gradient-2($c1, $p1, $c2, $p2) {
    background: $c1; /* Old browsers */
    background: -moz-linear-gradient(top, $c1 $p1, $c2 $p2); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom,
        color-stop($p1,$c1), color-stop($p2,$c2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $c1 $p1, $c2 $p2); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $c1 $p1, $c2 $p2); /* Opera11.10+ */
    background: -ms-linear-gradient(top, $c1 $p1, $c2 $p2); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$c1', endColorstr='$c2', 
        GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, $c1 $p1, $c2 $p2); /* W3C */
}
@mixin gradient-3($c1, $p1, $c2, $p2, $c3, $p3) {
    background: $c1; /* Old browsers */
    background: -moz-linear-gradient(top, $c1 $p1, $c2 $p2, $c3 $p3); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom,
        color-stop($p1,$c1), color-stop($p2,$c2), color-stop($p3,$c3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $c1 $p1, $c2 $p2, $c3 $p3); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $c1 $p1, $c2 $p2, $c3 $p3); /* Opera11.10+ */
    background: -ms-linear-gradient(top, $c1 $p1, $c2 $p2, $c3 $p3); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$c1', endColorstr='$c3', 
        GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, $c1 $p1, $c2 $p2, $c3 $p3); /* W3C */
}

/* SHARED STYLES */

.blue-button {
	text-shadow: 0px -1px 0px #000;
	color: $lighter-text;
	@include border-radius(4px);
	@include emboss(0.4, 0.2);
	@include gradient-2(rgba(255, 255, 255, 0.08), 0%, rgba(255, 255, 255, 0.05), 100%);
	-webkit-transition-property: background, border, color;
	-webkit-transition-duration: 200ms, 200ms, 1000ms;
	&:hover {
	    cursor: pointer;
		@include gradient-2(rgba(255, 255, 255, 0.1), 0%, rgba(255, 255, 255, 0.08), 100%);
	}
	&:active {
		@include gradient-2(rgba(255, 255, 255, 0.05), 0%, rgba(255, 255, 255, 0.03), 100%);
	}
	&.selected {
		color: #e4eef8;
		background: none;
	    border: solid 1px rgba(0,0,0,0.2);
		background-color: rgba(0, 0, 0, 0.15);
	}
}
