// Place all the styles related to the listing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'application.scss';

#new-book.overlay {
    cursor: auto;
}

/* FORM */

#book-form {
    position: relative;
    h2 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    input, select {
        font-size: 18px;
    }
    div.isbn-field input {
        width: 408px;
        height: 36px;
        margin-bottom: 15px;
        border: solid 1px #bbb;
    }
    div.price-field input {
        border: solid 1px #bbb;
    }
    div.price-field input,
    div.conditions-field select {
        display: inline;
        width: 140px;
        height: 36px;
    }
    div.conditions-field {
        position: absolute;
        top: 164px;
        left: 300px;
        select {
            width: 240px;
        }
    }
    label {
        display: inline;
        margin-right: 40px;
    }
    input[type=submit] {
        margin-top: 30px;
        float: right;
    }
}

/* TAGLINE */

#about {
    color: #fff;
    padding: 60px 0px;
    text-shadow: 0px -1px 0px #000;
    h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }
    p {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 10px;
        color: #e5ffff;
    }
}

/* LISTS */

div#lists-container {
	height: 405px;
	@include drop-shadow(0px, 0px, 10px, rgba(0, 0, 0, 0.25));
	div#lists {
	    height: 500px;
	    text-shadow: 0px 1px 0px #fff;
		background-color: #fff;
		@include gradient-2(#fff, 0.5, $background, 1.0);
	    div.section {
	        width: 450px;
			&:first-child { float: left; }
	        &:last-child { float: right; }
	        div.add {
	            float: right;
	            font-size: 42px;
	            line-height: 18px;
	            color: $light-orange;
	            font-weight: bold;
	            padding-right: 20px;
	            &:hover {
	                cursor: pointer;
	                color: $orange;
	            }
	        }
	        div.list {
	            div.listing {
					position: relative;
					top: -1px;
					height: 100px;
	                border-top: dotted 1px #ccc;
					border-bottom: dotted 1px #ccc;
	                &:nth-child(odd) {
	                    background-color: rgba(0, 0, 0, 0.03);
	                }
	                img {
						position: absolute;
						top: 12px;
						left: 12px;
	                    height: 70px;
	                    padding: 1px;
	                    border: solid 1px #ddd;
	                }
					div.info {
						position: absolute;
						top: 24px;
						left: 80px;
						h2 {
		                    font-weight: bold;
		                    font-size: 18px;
		                    margin-bottom: 10px;
		                }
						div {
							display: inline-block;
		                    color: #666;
		                }
					}
	            }
	        }
	    }
	}
}
