/*
 * Home page styles
*/

@import 'application.scss';

/* TAGLINE */

#tagline {
	color: #fff;
	padding: 60px 0px 30px 0px;
	text-align: center;
	text-shadow: 0px -1px 0px #000;
	h1 {
    	font-size: 36px;
    	margin-bottom: 12px;
	}
	p {
    	font-size: 20px;
    	line-height: 24px;
    	color: #b4c6d7;
	}
}

/* FLOW DIAGRAM */

#content {
	padding: 30px 0px 55px 0px;
    //border-top: solid 1px #666;
 	//background-image: url('white-bg.gif');
	//@include drop-shadow(0px, -5px, 5px, rgba(0, 0, 0, 0.05));
	h2 {
    	font-weight: bold;
    	font-size: 30px;
    	margin-bottom: 30px;
		span.light {
    		font-weight: normal;
    		color: #bbb;
		}
	}
	.step {
    	width: 270px;
    	float: left;
    	margin-top: 10px;
    	margin-right: 65px;
    	text-align: center;
    	font-size: 16px;
    	line-height: 20px;
    	text-shadow: 0px 1px 0px #fff;
		&:last-child {
    		margin-right: 0px;
		}
	}
}

.video {
	width: 600px;
	margin: auto;
	background-color: #fff;
	padding: 10px;
	@include drop-shadow(0px, 2px, 5px, rgba(0px, 0px, 0px, 0.3));
	text-align: center;
	img {
		width: 600px;
	}
}

