/*
 * Home page styles
*/

@import 'application.scss';

/* TAGLINE */

#about {
	color: #fff;
	padding: 60px 0px;
	background-color:rgba(255, 255, 255, 0.05);
	border-top: solid 1px rgba(255,255,255,0.2);
	text-shadow: 0px 1px 0px #000;
	h1 {
    	font-weight: bold;
    	font-size: 36px;
    	margin-bottom: 10px;
	}
	p {
    	font-size: 18px;
    	line-height: 23px;
    	margin-bottom: 10px;
    	color: #e5ffff;
	}
	.left {
    	float: left;
    	width: 580px;
	}
	.right {
    	float: right;
    	width: 320px;
	}
}

/* FLOW DIAGRAM */

#content {
	padding: 30px 0px 55px 0px;
    border-top: solid 1px #666;
 	background-image: url('white-bg.gif');
	@include drop-shadow(0px, -5px, 5px, rgba(0, 0, 0, 0.05));
	h2 {
    	font-weight: bold;
    	font-size: 30px;
    	margin-bottom: 30px;
		span.light {
    		font-weight: normal;
    		color: #bbb;
		}
	}
	.step {
    	width: 270px;
    	float: left;
    	margin-top: 10px;
    	margin-right: 65px;
    	text-align: center;
    	font-size: 16px;
    	line-height: 20px;
    	text-shadow: 0px 1px 0px #fff;
		&:last-child {
    		margin-right: 0px;
		}
	}
}