@import 'application.scss';

form.edit_user {
	margin: auto;
	width: 730px;
	input:not(:last-child) {
		margin-right: 8px;
	}
	input[type=text] {
		font-size: 18px;
		padding: 10px 15px;
		@include border-radius(4px);
		background-color: $light-blue;
		@include emboss-inset(1.0, 0.2, 0px, 2px, 2px, rgba(0, 0, 0, 0.4));
		color: $dark-blue;
		text-shadow: 0px 1px rgba(255, 255, 255, 0.3);
		-webkit-transition-property: background, box-shadow;
		-webkit-transition-duration: 300ms, 300ms;
		&:focus {
			background-color: $lighter-blue;
			@include emboss-inset-glow(1.0, 0.2, 0px, 2px, 2px, rgba(0, 0, 0, 0.4), 0px, 0px, 15px, rgba(255, 255, 255, 0.3));
		}
	}
	input[type=submit] {
		@extend .blue-button;
		padding: 10px 20px;
		font-size: 18px;
	}
	input.empty {
		color: $light-text;
	}
}