<% if @current_user && @current_user.member %>

<a class="nav-item logout" href="/logout" data-method="get" data-remote="true">
	<!--<div>Log out</div>-->
	<div class="logout-button"><%= image_tag('power-18.png') %></div>
</a>
<!--<a class="nav-item users-show" href="/matches" data-method="get" data-remote="true">
	<div>Matches</div>
</a>-->
<a class="nav-item listings-index" href="/listings" data-method="get" data-remote="true">
	<div>Your Books</div>
</a>

<% elsif @current_user %>

<a class="nav-item fb-pic" href="facebook.com/#{@current_user.f_id}">
	<div class="fb-pic-button"><%= image_tag(@current_user.image) %></div>
</a>

<a class="nav-item users-authorized" href="/authorized" data-method="get" data-remote="true">
	<div><%= @current_user.ready ? 'Coming Soon' : 'Get Started' %></div>
</a>

<% else %>

<a id="connect-with-facebook" class="nav-item login" href="/connect" data-method="get" data-remote="true">
	<div class="image-wrapper">
		<div class="image"><%= image_tag "fb-f.png" %></div>
	</div>
	<div>Connect</div>
</a>

<% end %>
