<% if @current_user %>
<a class="nav-item" href="/matches"><div class="users-show">Match</div></a>
<a class="nav-item" href="/listings"><div class="listings-index">List</div></a>
<% end %>
<a class="nav-item" href="/"><div class="site-welcome">Join</div></a>